- provide(:title, 'Reset password')
%h1 Reset password
.left.jumbotron
  .row
    .col-md-6.offset-md-3
      = form_with(model: @user, url: password_reset_path(params[:id]), |
        local: true) do |f|                                            |
        = render 'shared/error_messages', object: f.object
        = hidden_field_tag :email, @user.email
        = f.label :パスワード
        = f.password_field :password, class: 'form-control'
        = f.label :パスワード再確認, "Confirmation"
        = f.password_field :password_confirmation, class: 'form-control'
        = f.submit "パスワードを変更する", class: "btn btn-primary"
