.card
  = link_to recipe_path(recipe) do
    = image_tag recipe.image, class:"card-img" if recipe.image.attached?
  .card-body
    %span.card-title= link_to recipe.title, recipe_path(recipe)
    %span.float-right{:id => "likes_buttons_#{recipe.id}"}
      = render partial: 'favorites/favorite', locals: { recipe: recipe}
    %br/
    = link_to recipe.work, recipes_path(work: recipe.work), class: "card_work_tag"
    = link_to recipe.author, recipes_path(author: recipe.author), class: "card_author_tag"
    - recipe.tags.each do |tag|
      = link_to tag.tag_name, recipes_path(tag_id: tag.id), class: "card_tags_tag"
