<div class="recipes">
  <div class="left jumbotron">
    <div class="row">
      <div class="col-md-4 offset-md-8">
      <div class="info">
        <span>By</span>
        <span class="user"><%= link_to recipe.user.name, recipe.user %></span>
        <span class="timestamp">
        Posted <%= time_ago_in_words(recipe.created_at) %> ago.
        </span>
        <% if current_user?(recipe.user) %>
          <%= link_to "delete", recipe, method: :delete,
                                          data: { confirm: "You sure?" } %>
          |
          <%= link_to "edit", "/recipes/#{recipe.id}/edit" %>
        <% end %>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="recipe_title"><%= recipe.title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <%= image_tag recipe.image, class:"recipe_img" if recipe.image.attached? %>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <h3 class="work_title">作品名</h3>
            <div class="work">
              <a class="work_tag"><%= recipe.work %></a>
            </div>
          </div>
          <div class="col-12">
            <h3 class="author_title">監督・著者</h3>
            <div class="author">
              <a class="author_tag"><%= recipe.author %></a>
            </div>
          </div>
          <div class="col-12">
            <h3 class="category_title">カテゴリー</h3>
            <div class="category">
              <a class="category_tag">煮物</a>
              <a class="category_tag">里芋</a>
              <a class="category_tag">副菜</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="content_title">紹介文</h2>
        <div class="content">
          <%= recipe.content %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class=ingredients_list_title>材料・調味料</h2>
      </div>
    </div>
    <div class="ingredients_list">
      <div class="row">
        <div class="col-12">
          <% recipe.ingredients.each do |f| %>
            <li class="ingredients_list_item">
              <span class="ingredient">
                <%= f.ingredient %>
              </span>
              <span class="amount">
                <%= f.amount %>
              </span>
            </li>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="how_to_makes_list_title">作り方</h2>
      </div>
    </div>
    <div class="how_to_makes_list">
      <div class="row">
        <div class="col-12">
          <ol>
            <% recipe.how_to_makes.each do |f| %>
              <li class="how_to_makes_list_item"><%= f.content %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <div class="float-right">
          <div id="likes_buttons_<%= recipe.id %>">
            <%= render partial: 'favorites/favorite', locals: { recipe: recipe} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left jumbotron">
    <div>
      <h2 class="comment_title">コメント</h2>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div>  
      <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, recipe: @recipe } %>
      <% end %>
    </div>
  </div>
</div>