<div class="card-columns">
  <% @recipes.each do |recipe| %> 
    <div class="card">
      <%= link_to recipe_path(recipe) do %>
        <%= image_tag recipe.image, class:"card-img" if recipe.image.attached? %>
      <% end %>
      <div class="card-body">
        <p class="card-title"><%= link_to recipe.title, recipe_path(recipe)%></p>
        <div class="card_work_tag"><%= recipe.work %></div>
        <div class="card_author_tag"><%= recipe.author %></div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @recipes %>