- provide(:title, @user.name)
.row
  %aside.col-md-2
    %section.user_info
      %h1
        = gravatar_for @user, size: 35
        = @user.name
    %section.stats
      = render 'shared/stats'
    = render 'follow_form' if logged_in?
  .col-md-10
    .container
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#posts"} Posts
        %li
          %a{"data-toggle" => "tab", :href => "#favorites"} Favorites
      .tab-content
        #posts.tab-pane.active
          .card-columns
            - @user.recipes.each do |recipe|
              .card
                = link_to recipe_path(recipe) do
                  = image_tag recipe.image, class:"card-img" if recipe.image.attached?
                .card-body
                  %span.card-title= link_to recipe.title, recipe_path(recipe)
                  %span.float-right{:id => "likes_buttons_#{recipe.id}"}
                    = render partial: 'favorites/favorite', locals: { recipe: recipe}
                  %br/
                  = link_to recipe.work, recipes_path(work: recipe.work), class: "card_work_tag"
                  = link_to recipe.author, recipes_path(author: recipe.author), class: "card_author_tag"
                  - recipe.tag_list.each do |tag|
                    = link_to tag, recipes_path(tag_name: tag), class: "card_tags_tag"
        #favorites.tab-pane
          .card-columns
            - @user.favorite_recipes.each do |recipe|
              .card
                = link_to recipe_path(recipe) do
                  = image_tag recipe.image, class:"card-img" if recipe.image.attached?
                .card-body
                  %span.card-title= link_to recipe.title, recipe_path(recipe)
                  %span.float-right{:id => "likes_buttons_#{recipe.id}"}
                    = render partial: 'favorites/favorite', locals: { recipe: recipe}
                  %br/
                  = link_to recipe.work, recipes_path(work: recipe.work), class: "card_work_tag"
                  = link_to recipe.author, recipes_path(author: recipe.author), class: "card_author_tag"
                  - recipe.tag_list.each do |tag|
                    = link_to tag, recipes_path(tag_name: tag), class: "card_tags_tag"
