- provide(:title, @user.name)
.row
  %aside.col-md-2
    %section.user_info
      %h1
        = gravatar_for @user, size: 35
        = @user.name
    %section.stats
      = render 'shared/stats'
    = render 'follow_form' if logged_in?
  .col-md-10
    .card-columns
      = render partial: 'recipes/index', collection: @user.recipes, as: :recipe