- provide(:title, @title)
.row
  %aside.col-md-3
    .container
      .user-icon
        = gravatar_for @user, size: 50
      .user-name
        %span= link_to "#{@user.name}", @user
      .user-stats
        = render 'shared/stats'
  .col-md-9
    .follow-list
      %h3= @title
      - if @users.any?
        %ul.users.follow
          = render @users
        = paginate @users
