<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 35 %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-md-10">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
        <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="posts">
        <div class="card-columns">
        <% @user.recipes.each do |recipe| %> 
          <div class="card">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag recipe.image, class:"card-img" if recipe.image.attached? %>
            <% end %>
            <div class="card-body">
              <span class="card-title"><%= link_to recipe.title, recipe_path(recipe)%></span>
              <span id="likes_buttons_<%= recipe.id %>" class="float-right">
                <%= render partial: 'favorites/favorite', locals: { recipe: recipe} %>
              </span>
              <br>
              <div class="card_work_tag"><%= recipe.work %></div>
              <div class="card_author_tag"><%= recipe.author %></div>
            </div>
          </div>
        <% end %>
        </div>
        </div>
        <div class="tab-pane" id="favorites">
        <div class="card-columns">
        <% @user.favorite_recipes.each do |recipe| %> 
          <div class="card">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag recipe.image, class:"card-img" if recipe.image.attached? %>
            <% end %>
            <div class="card-body">
              <span class="card-title"><%= link_to recipe.title, recipe_path(recipe)%></span>
              <span id="likes_buttons_<%= recipe.id %>" class="float-right">
                <%= render partial: 'favorites/favorite', locals: { recipe: recipe} %>
              </span>
              <br>
              <div class="card_work_tag"><%= recipe.work %></div>
              <div class="card_author_tag"><%= recipe.author %></div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>