<header class="navbar navbar-fixed-top" style="background-color:#FFD700;">
<div class="container">
  <%= link_to "映画・文学めし", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",  root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Search",'#' %></li>
      <li><%= link_to "Log in",'#' %></li>
    </ul>
  </nav>
</div>
</header>